<p>Olá, {{nome}}!</p>

<p>Seja muito bem-vindo(a) ao HelpNet! Sua conta foi criada com sucesso e estamos felizes em tê-lo(a) conosco.</p>

<p>Para começar a explorar nossos produtos, clique no botão abaixo:</p>

<div style="text-align: center; margin: 30px 0;">
  <a href="{{frontendUrl}}/home" class="button">Começar a Comprar</a>
</div>

<p>Dicas rápidas para começar:</p>
<ul>
  <li>Explore nossa <a href="{{frontendUrl}}/home">loja virtual</a> com produtos de diversos vendedores</li>
  <li>Gerencie seus pedidos em <a href="{{frontendUrl}}/meus-pedidos">Meus Pedidos</a></li>
  <li>Atualize seu perfil em <a href="{{frontendUrl}}/perfil">Meu Perfil</a></li>
</ul>

<p>Se tiver alguma dúvida, nossa equipe de suporte está sempre pronta para ajudar!</p>

<p>Atenciosamente,<br>
Equipe HelpNet</p>